*~
*.swp
*.swo
.*.sw*
.*.sw
Session.vim
.netrwhist
tags
cscope.*
env
__pycache__/
*.py[cod]
*.so
*$py.class
pip-log.txt
pip-delete-this-directory.txt
*.log
*.db
.scrapy
.python-version
.venv
env/
.env
venv/
env.bak/
venv.back/
.mypy_cache/
launchwebproject.sh
launchworkterminal.sh
geckodriver.log
emails_list.csv
breached_accounts.csv
